## REGRESSION Problem Project - Vehicle Price Prediction

In [ ]:
import pandas as pd

auto_data = pd.read_excel('carData.xlsx')
auto_data.head()

### clean data

In [ ]:
import numpy as np
auto_data = auto_data.replace(-1,np.nan)
auto_data = auto_data.replace(-2,np.nan)
auto_data[170:190]

In [ ]:
auto_data.head()

In [ ]:
auto_data['price'].describe() # lets see what type of data type price is

In [ ]:
auto_data['price']=pd.to_numeric(auto_data['price'],errors='coerce')
auto_data['price'].describe()
## is used to covert datatype from OBJECT to Float

### removing unwanted columns

In [ ]:
auto_data.columns
auto_data.head()

In [ ]:
auto_data['doornumber'].describe()

In [ ]:
##   using DICTIONARY MAPPING we convert door number (TEXT) to numbers

door_dict = {
    'two' : 2,
    'three' : 3,
    'four' : 4,
    'five' : 5,
    'six' : 6,
    'seven' : 7,
    'eight' : 8,
    'nine' : 9
}
auto_data['doornumber'].replace(door_dict, inplace= True)
auto_data.head()

In [ ]:
auto_data['enginetype'].value_counts() # Disable row limit

In [ ]:
auto_data['enginelocation'].value_counts().to_csv('carname_counts.csv')

## --- THIS IS DICTIONARY MAPPING OF THE DATA ---

In [ ]:
car_name_mapping = {
    'peugeot 504': 1,
    'toyota corolla': 2,
    'toyota corona': 3,
    'subaru dl': 4,
    'mitsubishi outlander': 5,
    'mazda 626': 6,
    'honda civic': 7,
    'mitsubishi mirage g4': 8,
    'mitsubishi g4': 9,
    'toyota mark ii': 10,
    'nissan clipper': 11,
    'honda civic cvcc': 12,
    'honda accord': 13,
    'mazda glc': 14,
    'mazda rx-7 gs': 15,
    'mazda glc deluxe': 16,
    'bmw x3': 17,
    'bmw 320i': 18,
    'audi 100ls': 19,
    'volvo 264gl': 20,
    'volvo 144ea': 21,
    'volvo 244dl': 22,
    'toyota starlet': 23,
    'volvo 145e (sw)': 24,
    'subaru': 25,
    'toyota corolla 1200': 26,
    'saab 99e': 27,
    'peugeot 604sl': 28,
    'saab 99le': 29,
    'saab 99gle': 30,
    'nissan rogue': 31,
    'nissan latio': 32,
    'mazda rx-4': 33,
    'isuzu D-Max ': 34,
    'volkswagen dasher': 35,
    'porsche cayenne': 36,
    'plymouth fury iii': 37,
    'toyota corolla liftback': 38,
    'chevrolet impala': 39,
    'bmw x5': 40,
    'bmw x4': 41,
    'bmw z4': 42,
    'bmw x1': 43,
    'audi 100 ls': 44,
    'audi 5000s (diesel)': 45,
    'audi 4000': 46,
    'audi 5000': 47,
    'audi fox': 48,
    'alfa-romero giulia': 49,
    'alfa-romero stelvio': 50,
    'alfa-romero Quadrifoglio': 51,
    'dodge rampage': 52,
    'chevrolet vega 2300': 53,
    'chevrolet monte carlo': 54,
    'isuzu D-Max V-Cross': 55,
    'mazda glc 4': 56,
    'maxda glc deluxe': 57,
    'mazda rx2 coupe': 58,
    'mazda glc custom l': 59,
    'buick skylark': 60,
    'buick opel isuzu deluxe': 61,
    'buick skyhawk': 62,
    'buick century special': 63,
    'jaguar xj': 64,
    'jaguar xf': 65,
    'buick century': 66,
    'dodge dart custom': 67,
    'honda prelude': 68,
    'honda civic 1300': 69,
    'honda civic 1500 gl': 70,
    'honda accord lx': 71,
    'honda accord cvcc': 72,
    'dodge coronet custom': 73,
    'isuzu MU-X': 74,
    'honda civic (auto)': 75,
    'maxda rx3': 76,
    'jaguar xk': 77,
    'dodge coronet custom (sw)': 78,
    'dodge challenger se': 79,
    'dodge colt (sw)': 80,
    'dodge d200': 81,
    'dodge monaco (sw)': 82,
    'dodge colt hardtop': 83,
    'nissan teana': 84,
    'nissan otti': 85,
    'nissan fuga': 86,
    'nissan dayz': 87,
    'nissan nv200': 88,
    'nissan note': 89,
    'nissan juke': 90,
    'nissan leaf': 91,
    'mitsubishi pajero': 92,
    'nissan titan': 93,
    'Nissan versa': 94,
    'nissan gt-r': 95,
    'mitsubishi montero': 96,
    'mercury cougar': 97,
    'buick regal sport coupe (turbo)': 98,
    'mitsubishi lancer': 99,
    'buick century luxus (sw)': 100,
    'buick electra 225 custom': 101,
    'mazda glc custom': 102,
    'mitsubishi mirage': 103,
    'plymouth fury gran sedan': 104,
    'plymouth valiant': 105,
    'plymouth satellite custom (sw)': 106,
    'plymouth duster': 107,
    'porsche boxter': 108,
    'porcshce panamera': 109,
    'porsche macan': 110,
    'plymouth cricket': 111,
    'peugeot 504 (sw)': 112,
    'peugeot 304': 113,
    'peugeot 505s turbo diesel': 114,
    'nissan kicks': 115,
    'subaru tribeca': 116,
    'toyota corona mark ii': 117,
    'subaru r2': 118,
    'subaru trezia': 119,
    'subaru r1': 120,
    'subaru baja': 121,
    'renault 12tl': 122,
    'subaru brz': 123,
    'renault 5 gtl': 124,
    'toyota corolla tercel': 125,
    'toyota tercel': 126,
    'toyota corona liftback': 127,
    'toyota carina': 128,
    'toyota corolla 1600 (sw)': 129,
    'toyota celica gt liftback': 130,
    'toyota corona hardtop': 131,
    'volkswagen 1131 deluxe sedan': 132,
    'vokswagen rabbit': 133,
    'toyouta tercel': 134,
    'toyota celica gt': 135,
    'toyota cressida': 136,
    'volkswagen model 111': 137,
    'volkswagen 411 (sw)': 138,
    'volkswagen type 3': 139,
    'volkswagen rabbit': 140,
    'vw rabbit': 141,
    'vw dasher': 142,
    'volkswagen super beetle': 143,
    'volkswagen rabbit custom': 144,
    'volvo 245': 145,
    'volvo diesel': 146,
    'volvo 246': 147
}

auto_data['CarName'].replace(car_name_mapping, inplace= True)

fueldict={
    'gas':0,
    'diesel':1
}
auto_data['fueltype'].replace(fueldict, inplace= True)

asdict={
    'std':0,
    'turbo':1
}
auto_data['aspiration'].replace(asdict, inplace= True)

carBody = {
    'sedan': 0,
    'hatchback': 1,
    'wagon': 2,
    'hardtop': 3,
    'convertible': 4
}
auto_data['carbody'].replace(carBody, inplace= True)

wheeldrive = {
    'fwd': 0,
    'rwd': 1,
    '4wd': 2
}
auto_data['drivewheel'].replace(wheeldrive, inplace= True)

engineloc = {
    'front': 0,
    'rear': 1
}
auto_data['enginelocation'].replace(engineloc, inplace= True)

fueltypeDict = {
    'mpfi': 0,
    '2bbl': 1,
    'idi': 2,
    '1bbl': 3,
    'spdi': 4,
    '4bbl': 5,
    'mfi': 6,
    'spfi':7
}
auto_data['fuelsystem'].replace(fueltypeDict, inplace= True)

cylinder_dict = {
    'two' : 2,
    'three' : 3,
    'four' : 4,
    'five' : 5,
    'six' : 6,
    'seven' : 7,
    'eight' : 8,
    'nine' : 9,
    'twelve':12
}
auto_data['cylindernumber'].replace(cylinder_dict, inplace= True)

engine_ty_d = {
    'ohc': 0,
    'ohcf': 1,
    'ohcv': 2,
    'dohc': 3,
    'l': 4,
    'rotor': 5,
    'dohcv': 6,
    'spfi':7
}
auto_data['enginetype'].replace(engine_ty_d, inplace= True)

auto_data.head()

In [ ]:
auto_data.isna().sum()

In [ ]:
del auto_data['CarName']
del auto_data['peakrpm']
del auto_data['curbweight']

# DELETING THE COLUMNS WITH LOW COEFFICIENT VALUES

## TRAIN TEST SPLIT

In [ ]:
from sklearn.model_selection import train_test_split
# feature_col_names = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
# predicted_class_name = ['Outcome']
x = auto_data.drop('price',axis=1)
y = auto_data['price']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state = 42)

#### let us apply mean strategy

In [ ]:
from sklearn.impute import SimpleImputer

fill_0 = SimpleImputer(missing_values=np.nan ,strategy='mean')
# fill_0 = SimpleImputer(missing_values = 0, strategy = 'mean', axis = 0)

x_train = fill_0.fit_transform(x_train)
x_test = fill_0.fit_transform(x_test)

In [ ]:
# from sklearn.impute import SimpleImputer

# fill_0 = SimpleImputer(missing_values=np.nan ,strategy='mean')
# # fill_0 = SimpleImputer(missing_values = 0, strategy = 'mean', axis = 0)

# y_train = fill_0.fit_transform(y_train)
# y_test = fill_0.fit_transform(y_test)

print(len(x_train),len(x_test),len(y_train),len(y_test))

## TRAIN ALGOS

In [ ]:
# LINEAR REGRESSION ALGO

from sklearn.linear_model import LinearRegression

liner_model = LinearRegression()
liner_model.fit(x_train, y_train)

In [ ]:
# ACCURACY OF THE ALGO

liner_model.score(x_train,y_train)

In [ ]:
liner_model.coef_

In [ ]:
# printing coefficients clearly
feature_names = x.columns  # Not x_train, but original DataFrame columns
coef = pd.Series(liner_model.coef_, index=feature_names).sort_values()
print(coef)

## TEST THE MODEL

In [ ]:
# LINER REGRESSION PREDICTION
y_predict = liner_model.predict(x_test)

In [ ]:
# prediction using the matplot lib

%pylab inline
from matplotlib import pylab, pyplot as plt


pylab.rcParams['figure.figsize'] = (15, 6)

plt.plot(y_predict,label='Predicted Price')
plt.plot(y_test.values, label='Actual Price')

plt.ylabel('Price')
plt.legend()
plt.show()

In [ ]:
score = liner_model.score(x_test, y_test)
score

### STEP 6: finding the error
#### MEAN SQUARE ERROR -- will tell us how much error is there in the given output

In [ ]:
from sklearn.metrics import mean_squared_error

liner_model_mse = mean_squared_error(y_test, y_predict)  # predicted y and actual y
liner_model_mse # its coming out to be 26 millions

In [ ]:
import math
math.sqrt(liner_model_mse)  # root mean square error

In [ ]:
# the above value is the error in the prediction of the model
# for example if the price is 16000 then the price might + or - 3352 
# that is 13000 or 19000

### conclusion for the LINEAR REGRESSION ALGO -- accuracy is 84% and error is 3,352 dollars

### STEP 7: improvise, testing other algorithms

In [ ]:
# Implementing LASSO and Ridge Regression

In [ ]:
from sklearn.linear_model import Lasso

lasso_model = Lasso(alpha=0.5)  # alpha is the regularization parameter
lasso_model.fit(x_train, y_train)

# lets test the lasso model

y_predict_lasso = lasso_model.predict(x_test)
score = lasso_model.score(x_test, y_test)
print("Lasso Model Score:", score)
lasso_model_mse = mean_squared_error(y_test, y_predict_lasso)
print(math.sqrt(lasso_model_mse))

In [ ]:
# finding the coefficients
# lasso_coef = pd.Series(lasso_model.coef_, index=feature_names).sort_values()
# print(lasso_coef)

### colclusion for LASSO: accuracy is 85% and error is 3348 dollars

In [ ]:
from sklearn.linear_model import Ridge

ridge_model = Ridge(alpha=0.5)  # alpha is the regularization parameter
ridge_model.fit(x_train, y_train)
y_predict_ridge = ridge_model.predict(x_test)
score = ridge_model.score(x_test, y_test)
print("Ridge Model Score:", score)
ridge_model_mse = mean_squared_error(y_test, y_predict_ridge)
print(math.sqrt(ridge_model_mse))

### conclusion for Ridge - accuracy is 86% and error is 3297 dollars
### final conclusion - I am recommending Ridge Algo fro Vehicle Price Prediction Project